name: sample

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'

jobs:
  demo:
    runs-on: macos-latest
    name: Sample demo
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update Plist file
        uses: dppeak/update-ios-plist-action@v1.1.0
        with:
          info-plist-path: './samples/Info.plist'
          key-value-json: '[{"FirstCustomKey": "Some Value to store"}, {"SecondCustomKey": "Another Value"}]'
          print-file: true
